SUBSYSTEM=="usb", ATTR{idVendor}=="091e", RUN+="/bin/sh -c 'setsid /usr/share/garmin-tracker-rs/garmin-tracker-rs-launcher.sh </dev/null >/dev/null 2>&1 &'"
