#viewport {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #list-layer {
    padding: 5px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    > table {
      width: 100%;

      > thead {
        > th {
          text-align: center;
        }
      }

      > tbody {
        > tr {
          cursor: pointer;
          transition: background-color 200ms ease;

          &:nth-child(odd) {
            background-color: #00000020;
          }

          &:hover {
            background-color: var(--primary-color);
          }

          > td {
            text-align: center;

            > div {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  #import-button {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
