#viewport {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#list-layer {
  padding: 5px;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

#list-layer > table {
  width: 100%;
}

#list-layer > table > tbody > tr:hover {
  cursor: pointer;
}

#list-layer > table > tbody > tr.selected {
  color: rgb(137, 222, 222);
}

#list-layer > table > tbody > tr > td > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-layer {
  padding: 10px;
}
