#viewport {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #alert-zone {
    position: absolute;
    width: 80%;
    right: 0;
    margin: 10px;
  }

  #list-layer {
    padding: 5px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    > table {
      width: 100%;

      > thead {
        > th {
          text-align: center;
        }
      }

      > tbody {
        > tr {
          cursor: pointer;
          transition: background-color 200ms ease;

          &:hover {
            background-color: var(--primary-color);
          }

          > td {
            text-align: center;

            > div {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  #import-file-dropdown {
    width: 100%;
  }

  #import-file-toggle {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
