#navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--primary-color);
}

#navbar > .navbar-item {
  padding: 10px;
}

#navbar > .navbar-item.selected {
  background-color: var(--primary-color) !important;
}

#navbar > .navbar-item:hover {
  cursor: pointer;
}

#navbar > .navbar-separator {
  flex: 1;
}
